.searchPage {
  min-height: 100vh;
  height: 100%;
  border-radius: 6px;
  margin: 2%;
  border: 1px solid #c9ced6;
  box-shadow: 5px 5px 10px #333;
  background: linear-gradient(90deg, #fffdb2, #f2f0d2, #f2b285);
}

.logOut {
  margin-bottom: 0;
  margin-top: 18px;
  margin-left: 87%;
  margin-right: 2%;
  border-radius: 4px;
  padding: 3px 6px 3px 6px;
  box-shadow: 2px 2px 4px #333;
  border: 1px white solid;
  color: black;
  text-align: center;
  font-family: 'Nova Flat', sans-serif;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background: linear-gradient(90deg, white, #fffdb2, #f2b285)
}

.logOut:hover {
  box-shadow: 1px 1px 2px black;
  background: linear-gradient(90deg, #f4f4f4, #e0de96, #d89e75)
}

.searchImage {
  height: 45vh;
  width: 94vw;
  margin-left: 1vw;
  margin-top: 2vh;
  position: absolute;
  border-radius: 4px;
  box-shadow: 2px 2px 3px black;
  background: linear-gradient(90deg, #f0f2bf, #2f497c, #f0f2bf), url("https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/g5/g5-c-idgh48mn-pacific-urban-residential/g5-cl-53qvv26ht-vue-hollywood/uploads/downtown-los-angeles-hero-resized.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chaseFilmStrip {
  margin-top: 0;
  width: 25%;
}

.searchPageInput {
  border-radius: 6px;
  width: 60vw;
  font-family: 'Comfortaa', sans-serif;
  /*height: 10vh;*/
  padding: 3px;
  background: white;
  border: 1px solid black;
  box-shadow: 1.5px 1.5px 4px black;
}

.searchPageButton {
  box-shadow: 1.5px 1.5px 4px black;
  background: #113a59;
}

.movieResultsSection {
  margin-top: 30%;
  max-width: 96vw;
  columns: 4;
  padding-left: 10px;
}

.movieResults {
  border: 1px black solid;
  box-shadow: 4px 4px 6px #555;
  border-radius: 4px;
  text-align: center;
  height: 400px;
  background: linear-gradient(#082f56, #efca8b, white);
  width: 96%;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  cursor: pointer;
}

.movieResults:hover {
  background: linear-gradient(#2d679b, #f7f9b8, #fff);
  box-shadow: 1px 1px 2px #777;
}

.movieTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #888;
  box-shadow: 3px 3px 4px black;
  background: linear-gradient(#0c588e, #174670, #072c47);
}

.moviePoster {
  height: 250px;
  width: 180px;
  /*min-height: 90%;
  width: 70%;*/
  box-shadow: 5px 5px 8px #222;
  border: 1px solid white;
  margin-bottom: 15px;
}

.movieDescription {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

@media only screen and (max-width:1000px) {
  .searchPageInput {
    margin-top: 25px;
  }
  .logOut {
    margin-left: 85%;
  }
}

@media only screen and (max-width:930px) {
  .searchPageInput {
    margin-top: 55px;
  }
  .logOut {
    margin-left: 80%;
  }
  .movieResultsSection {
    margin-top: 47%;
    max-width: 96vw;
    columns: 2;
  }
}

@media only screen and (max-width: 500px) {
  .searchPage {
    height: 95vh;
    min-height: 100vh;
    height: 100%;
    margin-top: 4%;
    background: linear-gradient(90deg, #f2b285, #fffdb2)
  }
  .chaseFilmStrip {
    width: 80%;
  }
  .searchPageInput {
    width: 90vw;
    margin-bottom: 30px;
  }
  .searchImage {
    height: 50vh;
  }
  .logOut {
    margin-left: 75%;
  }
  .movieResults {
    margin-right: 5%;
  }
  .movieResultsSection {
    margin-top: 100%;
    max-width: 93vw;
    padding-left: 5%;
    /*display: inline-grid;*/
    columns: 1;
  }
}
