.watchListPage {
  min-height: 100vh;
  height: 100%;
  border-radius: 3px;
  margin: 2%;
  border: 1px solid #999;
  box-shadow: 3px 3px 5px #333;
  padding: 5px;
  background: linear-gradient(90deg, #5F6062, #8b8d93);
}

.collectionPageInputWL {
  border-radius: 1px;
  /*margin-left: 40%;*/
  width: 160px;
  font-family: 'Nova Flat', sans-serif;
  padding: 2px 0px 3px 4.5px;
  background: #E8D6CB;
  border-radius: 2px;
  /*border: 1px solid black;*/
  box-shadow: 1px 1px 1px #000;
  position: absolute;
}

.collectionInputBarWL {
  width: 150px;
  padding-left: 5px;
  border-radius: 2px;
  border-bottom: 1px solid black;
}

.logoBox {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.watchListLogo {
  width: 250px;
  margin: auto;
}

.collectionHeaderWL {
  font-family: 'Oswald', sans-serif;
  margin-left: 15px;
  color: #fdfffc;
  text-shadow: 0px 0px 3px #000;
  padding: 5px;
  border-bottom: 2px solid #C9DCB3;
  width: 92vw;
}

.loadingMessageCollectionWL {
  font-family: 'Comfortaa', sans-serif;
  align-items: center;
  text-align: center;
  margin-top: 15%;
  font-size: 20px;
}

.movieCollectionSectionWL {
  max-width: 100vw;
  padding-left: 15px;
  padding-right: 10px;
}

.movieColumnsWL {
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

.movieCollectionPosterWL {
  width: 175px;
  height: 250px;
  box-shadow: 2px 2px 2px #000;
  border: 1px solid #999;
  margin-bottom: 15px;
}

.addFirstMovieWL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 250px;
  box-shadow: 1px 1px 2px #000;
  border: 1px solid #999;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  background: #d4e7f4;
}

.firstMovieTextWL {
  text-align: center;
  font-family: "Oswald", serif;
}

.movieBoxWL {
  border-bottom: 5px double #C9DCB3;
  border-top: 5px double #C9DCB3;
  padding-top: 25px;
  margin-bottom: 15px;
}

.watchListBox {
  display: flex;
  flex-direction: column;
}

.watchedIcon {
  color: #000;
  position: relative;
  left: 150px;
  bottom: 42px;
  z-index: 2;
  padding: 1px;
  width: 20px;
  border-radius: 2px;
  background: #F3C969;
  text-align: center;
  box-shadow: 2px 2px 3px #000;
}

.watchedIcon:hover {
  box-shadow: 1px 1px 1px #000;
  background: #b29145;
}

/*////////////////////*/

* {
  list-style: none;
  text-decoration: none;
}

li {
  letter-spacing: 2px;
  padding: 2px 20px;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

li:hover {
  font-weight: bolder;
}

.watchlistLink:hover {
  background: #c4ff87;
}

.menuWL {
  width: 0px;
  padding-bottom: 20px;
  margin-top: 7%;
  border-radius: 2px;
  padding-top: 10px;
  box-shadow: 2px 2px 4px #000;
  background: linear-gradient(90deg, #d9eac7, #a4b78f);
  position: fixed;
  right: 0;
  border: none;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}

.menuWL.is-visible {
  width: 220px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  z-index: 6;
}

.sideMenuButtonWL {
  margin-bottom: 0;
  margin-top: 18px;
  margin-left: 87%;
  margin-right: 2%;
  border-radius: 2px;
  padding: 3px 6px 3px 6px;
  box-shadow: 1px 1px 2px #000;
  color: #000;
  background: #C9DCB3;
  text-align: center;
  font-family: 'Nova Flat', sans-serif;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.sideMenuButtonWL:hover {
  background: #deedce;
  box-shadow: 0px 0px 1px #000;
}

@media only screen and (max-width: 850px) {
  .sideMenuButtonWL {
    margin-left: 83%;
  }
}

@media only screen and (max-width: 500px) {
  .sideMenuButtonWL {
    margin-left: 75%;
  }
  .movieColumnsWL {
    display: inline-block;
    margin: 0px 4px 0px 4px;
    padding-left: 35px;
  }
  .movieCollectionPosterWL {
    width: 230px;
    height: 350px;
  }
  .menuWL {
    margin-top: 20%;
  }
  .collectionPageInputWL {
    margin-left: 25%;
  }
  .watchedIcon {
    left: 200px;
  }
}
