<div class="searchPage">
  <button class="sideMenuButtonSearchPage" ng-click="visible=!visible;">Menu</button>
  <div ng-class="{'is-visible':visible}" class="menuSearchPage">
    <button type="button" class="close closeMenu" ng-click="visible=!visible;">x</button>
    <ul>
      <li class="searchPageLink" ui-sref="collectionpage">My Collection</li>
      <li class="searchPageLink" ui-sref="watchlist">Watch List</li>
      <li class="searchPageLink" ui-sref="home" ng-click="$ctrl.logOut()">Log Out</li>
    </ul>
  </div>
  <div class="searchImage">
    <img class="chaseFilmStrip" src="app/images/CFStrip.png" />
    <div class="searchPageInput">

      <form class="input-group">
        <input ng-model="$ctrl.searchTerm" type="text" class="form-control" placeholder="Find movies...">
        <span class="input-group-btn">
        <button ng-click="$ctrl.findMovies()"class="btn btn-primary searchPageButton" type="submit">Search</button>
      </span>
      </form>

    </div>
  </div>
  <p class="loadingMessage" ng-show="$ctrl.showLoading">
    Finding Movies...
  </p>

  <div class="movieResultsSection">
    <div ng-hide="$ctrl.showLoading" class="movieSearchSection">
      <div class="searchColumns" ng-click="$ctrl.getInfo(movie)" ng-repeat="movie in $ctrl.movies" ui-sref="moviepage">
        <img class="moviePoster" src={{movie.poster_path}} />
      </div>
    </div>
  </div>
</div>
