<div class="searchPage">
  <p class="logOut" ui-sref="home">
    Log Out
  </p>
  <div class="searchImage">
    <img class="chaseFilmStrip" src="app/images/CFStrip.png" />
    <div class="searchPageInput">

      <form class="input-group">
        <input ng-model="$ctrl.searchTerm" type="text" class="form-control" placeholder="Find movies...">
        <span class="input-group-btn">
        <button ng-click="$ctrl.findMovies()"class="btn btn-primary searchPageButton" type="submit">Search</button>
      </span>
      </form>

    </div>
  </div>
  <div class="movieResultsSection">
    <div ng-click="$ctrl.getInfo(movie)" class="container movieResults col-sm-4 col-md-3" ng-repeat="movie in $ctrl.movies" ui-sref="moviepage">
      <div class="movieBox">
        <h4 class="movieTitle">{{movie.title}}</h4>
        <img class="moviePoster" src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" />
        <div class="descriptionBox">
          <p class="movieDescription">
            {{movie.overview}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
