<div class="moviePage" ng-repeat="info in $ctrl.movie" ng-hide="!info.title">
  <div class="moviePageVideos">
    <h3 class="moviePageHeader">Videos</h3>
    <h4 ng-repeat="video in $ctrl.videos">
      <a class="movieLink" href="https://www.youtube.com/watch?v={{video.key}}" target="_blank"> {{video.name}} </a></h4>
  </div>
  <div class="moviePageBox">
    <button class="searchAgain" ng-click="visible=!visible;">Menu</button>
    <div ng-class="{'is-visible':visible}" class="menuMoviePage">
      <ul>
        <li ui-sref="searchpage">Search</li>
        <li ui-sref="collectionpage">My Collection</li>
        <li>Watch List</li>
        <li ui-sref="home">Log Out</li>
      </ul>
    </div>
    <!-- <button class="btn" ng-click="$ctrl.deleteMovie()">DELETE</button> -->
    <h1 ng-model="$ctrl.newMovie.title" class="moviePageTitle">{{info.title}}</h1>
    <h4 class="moviePageTagline">{{info.tagline}}</h4>
    <img class="moviePagePoster" src="http://image.tmdb.org/t/p/w185/{{info.poster_path}}" />
    <h4 class="moviePageDescriptionTitle">Plot Summary:</h4>
    <p class="moviePageDescription">{{info.overview}}</p>
    <button ng-click="$ctrl.addToDatabase()" class="moviePageButtonCollection" data-toggle="modal" data-target="#collectionModal"><i class="fa fa-plus" aria-hidden="true"></i>  Add to collection</button>

    <button ng-click="$ctrl.addToDatabase()" class="moviePageButtonWatchList" data-toggle="modal" data-target="#watchListModal"><i class="fa fa-eye" aria-hidden="true"></i>  Add to watchlist</button>

    <div class="modal fade" id="watchListModal" role="dialog">
      <div class="modal-dialog modalBox">

        <!-- Modal content-->
        <div class="modal-content moviePageModalBody">
          <div class="modal-header">
            <h4 class="modal-title">Add To Watchlist</h4>
            <button type="button" class="close closeModal" data-dismiss="modal">x</button>
          </div>
          <div class="modal-body moviePageModal">
            <h4>Are You Sure?</h4>
            <div class="modalConfirmationButtons">
              <button ng-click="$ctrl.addToWatchList()" class="btn confirmationButtonsYes" data-dismiss="modal">Yes</button>
              <button data-dismiss="modal" class="btn confirmationButtonsNo">No</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="modal fade" id="collectionModal" role="dialog">
      <div class="modal-dialog modalBox">

        <!-- Modal content-->
        <div class="modal-content moviePageModalBody">
          <div class="modal-header">
            <h4 class="modal-title">Add To Collection</h4>
            <button type="button" class="close closeModal" data-dismiss="modal">x</button>
          </div>
          <div class="moviePageCollectionBox">
            <p class="ratingLabel">
              Please Rate This Movie:
            </p>
            <div class="stars">
              <form action="">
                <input ng-model="$ctrl.movieRating" class="star star-5" id="star-5" type="radio" name="star" value=5 />
                <label class="star star-5" for="star-5"></label>
                <input ng-model="$ctrl.movieRating" class="star star-4" id="star-4" type="radio" name="star" value=4 />
                <label class="star star-4" for="star-4"></label>
                <input ng-model="$ctrl.movieRating" class="star star-3" id="star-3" type="radio" name="star" value=3 />
                <label class="star star-3" for="star-3"></label>
                <input ng-model="$ctrl.movieRating" class="star star-2" id="star-2" type="radio" name="star" value=2 />
                <label class="star star-2" for="star-2"></label>
                <input ng-model="$ctrl.movieRating" class="star star-1" id="star-1" type="radio" name="star" value=1 />
                <label class="star star-1" for="star-1"></label>
              </form>
            </div>

            <button class="moviePageCollectionSubmit" ng-click="$ctrl.getMovieRating()" data-dismiss="modal">Submit</button>
          </div>
        </div>

      </div>
    </div>

    <img class="chaseFilmsLogo" src="app/images/CFLogo.png" ui-sref="home" />
  </div>
  <div class="moviePageSites">
    <h3 class="moviePageHeader">More Info</h3>
    <h4 class="moviePageLinks">
      <a class="movieLink" href="https://www.imdb.com/title/{{info.imdb_id}}" target="_blank">  IMDB</a>
    </h4>
    <a class="movieLink" href={{info.homepage}} target="_blank">{{info.homepage}}</a>
  </div>
</div>
